*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

    scroll-behavior: smooth;

}

body {

    font-family: 'Golos Text', sans-serif ;

}

.container{

}



/* Базовые стили - для мобильных телефонов (все, что меньше 768px) */

/* Планшеты (вертикальная ориентация) и небольшие ноутбуки */
@media (min-width: 768px) {
  /* Стили для ширины от 768px и выше */
}

/* Планшеты (горизонтальная ориентация) и ноутбуки */
@media (min-width: 1024px) {
  /* Стили для ширины от 1024px и выше */
}

/* Большие ноутбуки и мониторы */
@media (min-width: 1280px) {
  /* Стили для ширины от 1280px и выше */
}

/* Очень большие экраны, ТВ */
@media (min-width: 1440px) {
  /* Стили для ширины от 1440px и выше */
}